body {
  margin: 0;
  padding: 0;
}

header {
  height: 50px;
  border-bottom: 1px solid #000;
}

main {
  min-height: calc(90vh - 30px);
}

footer {
  height: 30px;
  border-top: 1px solid #000;  
}
