body {
  margin: 0;
  padding: 0;
}

header {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-bottom: 1px solid #000;
}

main {
  padding-top: 10px;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 10px;
  min-height: calc(100vh - 100px);
}

footer {
  height: 30px;
  border-top: 1px solid #000;  
}
